<!doctype html>
<html>
<head>
	<title>{{ site.name }}: {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css" />
</head>
<body>
    <div id="wrapper">

		<div id="header">
		</div><!--#header -->

        <div class="content">

			<div id="menu">
				<ul>
                	<li><a class="link-button link-button-site-name" href="#">More books</a></li>
					<li><a class="link-button" href="#the-danger-of-a-one-textbook-policy">Intro</a></li>
					<li><a class="link-button" href="#background-information">Background</a></li>
					<li><a class="link-button" href="#contact">Contact</a></li>
				</ul>
			</div><!--#menu-->

			<div class="video-slide">

				<center>				
					<a href="/"><img src="images/morebooks-slide.jpg" alt="Schoolchildren reading a book" /></a>
				</center>

			</div><!--.video-slide-->
			
			
			<div id="main">
