<!doctype html>
<html>
<head>
	<title>{{ site.name }}: {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css" />

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	
	<!-- for Google -->
	<meta name="description" content="{{ site.description }}" />
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="author" content="{{ page.author }}" />
	<meta name="copyright" content="{{ page.copyright }}" />

	<!-- for Facebook -->          
	<meta property="og:title" content="{{ site.name }}" />
	<meta property="og:image" content="{{ site.liveurl }}/images/open-graph-facebook.jpg" />
	<meta property="og:description" content="{{ site.description }}" />

	<!-- for Twitter -->          
	<meta name="twitter:title" content="{{ site.name }}" />
	<meta name="twitter:description" content="{{ page.description }}" />
	<meta name="twitter:image" content="{{ site.liveurl }}/images/open-graph-facebook.jpg" />
	
</head>
<body>
    <div id="wrapper">

		<div id="header">
		</div><!--#header -->

        <div class="content">

			<div id="menu">
				<ul>
                	<li><a class="link-button link-button-site-name" href="#">More books</a></li>
					<li><a class="link-button" href="#the-danger-of-a-one-textbook-policy">Intro</a></li>
					<li><a class="link-button" href="#background-information">Background</a></li>
					<li><a class="link-button" href="#contact">Contact</a></li>
				</ul>
			</div><!--#menu-->

			<div class="video-slide">
				<img src="images/morebooks-slide.jpg" alt="Schoolchildren reading a book" />
			</div><!--.video-slide-->
			
			
			<div id="main">
