
			<div id="menu">
				<ul>
                	<li><a class="link-button link-button-site-name" href="{{ site.baseurl }}/">More books</a></li>
					<li><a class="link-button" href="{{ site.baseurl }}/textbook-policy">Textbook policy</a></li>
					<li><a class="link-button" href="{{ site.baseurl }}/send-mail">Send a letter</a></li>
					<li><a class="link-button" href="https://www.change.org/p/minister-of-basic-education-angie-motshekga-don-t-prescribe-only-one-textbook-for-every-south-african-child" target="_blank">Sign the petition</a></li>
					<li><a class="link-button" href="{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
			</div><!--#menu-->
